*.pyc
data/Sentinel-2A_MSI_Spectral_Responses.csv
data/Sentinel-2A_MSI_Spectral_Responses.xlsx
documentation/6s.in
documentation/Orbito_Sensor.m
documentation/Sensor_Dir.m
documentation/Sentinel2_Laws.csv
documentation/Sentinel2_Soils.csv
documentation/bands.png
documentation/doc-par-sweep.bbl
documentation/doc-par-sweep.pdf
documentation/doc-par-sweep.tex
documentation/exvalid.pdf
documentation/exvalidl8.pdf
documentation/exvalids5.pdf
documentation/formosat.png
documentation/formosat2.png
documentation/formosat2nb.png
documentation/lai-rvi1.png
documentation/lai_est_time_profile.png
documentation/landsat.png
documentation/landsat8.png
documentation/landsat82015.png
documentation/mais1.png
documentation/octave-core
documentation/otb-bv-manual.pdf
documentation/otb-bv-manual.sh
documentation/otb-bv-manual.tex
documentation/otb-vs-bvnet-theo.png
documentation/otb-vs-bvnet-tous.png
documentation/otb-vs-bvnet.png
documentation/output.pdf
documentation/output.png
documentation/prospect-otb.txt
documentation/prospect.png
documentation/sail.pdf
documentation/scatter.png
documentation/simulai.png
documentation/sols-s2-inra.png
documentation/spot.png
documentation/spot4.png
documentation/spot5.png
documentation/struct_Orbito_Sensor.m
documentation/valid.png
documentation/valid.xcf
documentation/validatio_bvnet_simulated_data.png
documentation/validation.png
